<?php $title = 'Liste de voiture '; ?>
<!-- demarre une tamporisation de sortie -->
<?php ob_start(); ?>
<section  class='sectionUniversel'>
   
    <h2>Mes véhicules : </h2>
    <button class="adminAddCar"><a href="index.php?action=admin&action2=car&action3=addForm">Ajouter une voiture</a></button>

    <?php foreach($adminGetCars as $value): ?>
        <div class='adminGetCar'>
            <a href="index.php?action=oneCar&id=<?= htmlspecialchars(htmlentities($value['id'])) ?>">
                <img src="www/imgBoerbullMotors/<?= htmlspecialchars(htmlentities($value['image_url'])) ?>" height="250" width="350"
                    alt="<?= htmlspecialchars(utf8_encode($value['modele'])) ?>" class="adminAddCarView">
                <div class="carView">
                    <p><?= htmlspecialchars(htmlentities($value['marque'])) . ' ' . htmlspecialchars(utf8_encode($value['modele'])) ?></p>

                    <p>
                        <button>
                            <a href="index.php?action=admin&action2=car&action3=editForm&id=<?= $value['id'] ?>"> modifier</a>
                        </button>        

                        <button>
                            <a href="index.php?action=admin&action2=car&action3=delete&id=<?= $value['id'] ?>" onclick="return confirmeDelete('car')">
                                supprimer</a>
                        </button>        
                    </p>
                </div>
            </a>
        </div>
    <?php endforeach ?>
</section>
<!-- fermer la tamporisation de sortie et le mettre dans une variable -->
<?php $content = ob_get_clean(); ?>
<?php require_once 'www/layout/layoutView.phtml'; ?>