<?php $title = 'Formulaire pour Rendez-vous'; ?>
<!-- demarre une tamporisation de sortie -->
<?php ob_start(); ?>

<section class='sectionUniversel'>
    
    <h2>Reservation</h2>

    <?php if(!empty($oneCar)): ?>
        <?php foreach($oneCar as $value): ?>
            <div class='adminGetCar'>
                <a href="index.php?action=oneCar&id=<?= htmlspecialchars(htmlentities($value['id'])) ?>">
                    <img src="www/imgBoerbullMotors/<?= htmlspecialchars(htmlentities($value['image_url'])) ?>" height="250" width="350"
                        alt="<?= htmlspecialchars(utf8_encode($value['modele'])) ?>" class="adminAddCarView">
                    <div class="carView">
                        <p><?= htmlspecialchars(htmlentities($value['marque'])) . ' ' . htmlspecialchars(utf8_encode($value['modele'])) ?></p>
                    </div>
                </a>
            </div>
        <?php endforeach ?>
    <?php else : ?>    
    <?php endif ?>    
   
    <div class="divScroll">
        <!-- onsubmit permet d'afficher un message à l'ulisateur après avoir appuyer sur le boutton submit,
            quand tous les champs sont remplis  -->
        <form action="index.php?action=user&action2=booking" method="post" onsubmit="bokingConfirme()">
            <fieldset>
                <legend>Location de voitures</legend>
                <div>
                    <!-- récupère le user_id  -->
                    <input type="hidden" name="user_i" value="<?= htmlspecialchars(htmlentities($_SESSION['user']['id'])) ?>">
                </div>    
    
                <div>
                    <!--s'il existe, on récupère l'id du véhicule, sinon on envoie une valeur par défault  -->
                    <?php if(isset($value['id'])) : ?>
                        <?php foreach($panier as $value) : ?> 
                            <input type="hidden" name="id" value="<?= htmlspecialchars(htmlentities($value['id'])) ?>">
                        <?php endforeach ; ?>
                    <?php else : ?>
                        <input type="hidden" name="id" value="0">
                    <?php endif ; ?>
                </div>    

                <div>
                    <label for="datetimepicker">Date de début</label>
                    <input type="text" name="datetimepicker" id="datetimepicker" placeholder="20.12.2019 09:00" required>
                </div>

                <div>
                    <small>Indiquez la date de fin , qui aura lieu 3 jours après la date de début</small><br>
                    <label for="datetimepicker2">Date de fin</label>
                    <input type="text" name="datetimepicker2" id="datetimepicker" placeholder="23.12.2019 14:00" required>
                </div>

                <div>
                    <small>Selectionnez le nombre de personnes qui vous accompagnera lorsque vous allez venir chercher le véhicule</small><br>
                    <label for="numberOfSeats">Nombre de personne</label>
                    <select name="numberOfSeats" id="numberOfSeats" required>
                        <option value="">Selectionnez le nombre de personnes</option>

                        <!-- on peut choisir entre 0 et 3 personne pour aller chercher la voiture -->
                        <?php for($numberOfSeats = 0; $numberOfSeats <=3; $numberOfSeats++) : ?>
                            <option value="<?= $numberOfSeats ?>">
                                <?= $numberOfSeats ?>
                            </option>
                        <?php endfor; ?>
                    </select>
                </div>

                <p class="prixTTC">Prix <?= $prix_total_TTC ?> € pour 3 jours</p>
            </fieldset>

            <div>
                <input type="submit" value="Reserver" class="myValid">
                <button><a href="index.php?action=user&action2=bookingForm">Cancel</a></button>
            </div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" charset="utf-8"></script>

    <script>
        
        $(function(){

            let today = new Date();
            
            //la localité sera française pour les heures
            $.datetimepicker.setLocale('fr');

            $('#datetimepicker').datetimepicker({

                type: 'datetime',
                firstDayOfWeek: 0,
                monthFirst: false,

                //Toutes les langues supportées ici
                i18n:{
                    //on transforme et affiche les dates en français dans le calendrier
                    fr:{
                        months:[
                            'Janvier', 'Février', 'Mars', 'Avril',
						    'Mai', 'Juin', 'Julliet', 'Aout',
						    'Septembre', 'Octobre', 'Novembre', 'Decembre',
                        ],
                        dayOfWeek:[
                            "Dim", "Lu", "Ma", "Me",
						    "Je", "Ve", "Sa",
                        ]
                    }
                },
                // affiche les heures ou nous somme disponible pour un RDV dans le calendrier
                allowTimes:[
                    '09:00', '10:00', '11:00', '14:00', '15:00', '16:00', '17:00'
                ],
                //format de la date et les heures
                format: 'd.m.Y H:i',

                /*date minimun pour reserver une voiture , qui est la date d'aujourd'hui avec today, mais la date de reservation devra être pris 2 heures après l'heure qu'ils on cliquer sur reserver aujourd'hui(uniquement, si le RDV est pour aujourd'hui) grace au 2 de today.getHours() + 2*/
                minDate: new Date(today.getFullYear(), today.getMonth(), today.getDate(), today.getHours() + 2, today.getMinutes()),

                /* date maximal pour reserver une voiture, on a jusqu'a 15 jours (pas plus) à partir d'aujourd'hui. grace au 15 de today.getDate() + 15 */
			    maxDate: new Date(today.getFullYear(), today.getMonth(), today.getDate() + 15, today.getHours())
            });
        });
    </script>

</section>


<!-- fermer la tamporisation de sortie et le mettre dans une variable -->
<?php $content = ob_get_clean(); ?>
<?php require_once 'www/layout/layoutView.phtml'; ?>