<?php 
if (session_status() === PHP_SESSION_NONE) {
    session_start();
}
 ?>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?= $title ?></title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="www/css/normalize.css"/>
    <link rel="stylesheet" href="www/css/style.css"/>
</head>
<body>
<header>

    <div class ='divBar' >
        <div class='plogo'>
            <!-- a faire : enlever le ?category=2 après -->
            <a href="index.php?action=home">
                <img src="www/imgBoerbullMotors/auto.png" height="80" width="70" alt="Boerbull Motors" class='logo'>
            </a><!--  
        --><p class='entreprise'><a href="index.php?action=home"> Boerbull Motors, Location de voiture de luxe </a></p>
    </div>
    

    <nav>
        <ul>
            <li><a href="index.php?action=aPropos"> A propos</a></li>
            <li><a href="index.php?action=tarif">Tarifs</a></li>
            <li><a href="index.php?action=panierView"> Panier</a></li>
            <li>
                <!-- si on est pas connecter on affiche le lien de connexion  -->
                <?php if (!isAuthenticatedUser() && !isAuthenticatedAdmin()) : ?>
                    <a href="index.php?action=user&action2=loginForm"> Connexion</a>
                <?php else: ?>    
                     <!-- si le user est connecter , il peut maintenant ce deconnecter si il veut -->
                    <?php if (isAuthenticatedUser()) : ?>
                        <ul >
                            <li class="menu">
                                <!-- le prénom de l'user -->
                                <?= getFirstName() ?>

                                <ul class="sous_menu">
                                    <li class="active">
                                        <!-- affiche user RDV -->
                                        <a href="index.php?action=user&action2=userRDV&user_i=<?= htmlspecialchars(htmlentities($_SESSION['user']['id'])) ?>" > Mes Reservations</a>
                                    </li>
                                    <li>
                                        <!-- user supprime son compte -->                                               <!-- popup de confirmation avant de supprimer-->
                                        <a href="index.php?action=user&action2=deleteUser&id=<?= htmlspecialchars(htmlentities($_SESSION['user']['id'])) ?>" onclick="return confirmeDelete('user')" > supprimer mon compte</a> 
                                    </li>
                                    <li>
                                        <!-- deconnexion -->
                                        <a href="index.php?action=user&action2=logout" class="item">
                                            Déconnexion
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    <?php elseif (isAuthenticatedAdmin()) : ?>
                    <!-- si le admin est connecter , il peut maintenant ce deconnecter si il veut et il peut avoir des navigations supplémentaire-->
                        <ul>
                            <li class="menu">
                                <!-- nom de l'admin  -->
                                <?= getAdminName() ?> 
                            
                                <ul class="sous_menu">
                                    <li>
                                        <!-- liste des voitures, on peut ajouter, modifier , supprimer  -->
                                        <a href="index.php?action=admin&action2=car&action3=get" class="item">voiture</a>
                                    </li>
                                    <li>
                                        <!-- liste des booking, on peut supprimer -->
                                        <a href="index.php?action=admin&action2=booking&action3=get" class="item"> reservation de client</a>
                                    </li>
                                    <li>
                                        <!-- liste des utilisateurs, on peut ajouter, modifier , supprimer -->
                                        <a href="index.php?action=admin&action2=users&action3=get" class="item"> utilisateur</a>
                                    </li>
                                    <li>
                                        <!-- admin supprime son compte -->
                                        <a href="index.php?action=admin&action2=deleteAdmin&id=<?= htmlspecialchars(htmlentities($_SESSION['admin']['id'])) ?>" onclick="return confirmeDelete('admin')"> supprime mon compte</a>
                                    </li>
                                    <li>
                                        <!-- deconnexion -->
                                        <a href="index.php?action=admin&action2=logout" class="item">
                                             Déconnexion
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    <?php endif; ?>
                <?php endif; ?>
            </li>
        </ul>    
    </nav>
</div>   
</header>
                


    <main>
        <?= $content ?>
        
        <section class='sectionUniversel2'>
            <h2>Notre Agence</h2>

            <div class="nosAgence">
                <h3>NANTES</h3>

                <p>
                    17, Rue Emile Zola, 
                    <br> Nantes, 
                    <br> France
                    <br><strong>+33(0)4 92 18 07 08</strong>
                </p>
            </div>
        </section>
    </main>

    <footer>
        <nav  class ='navBar'>
            <a href="index.php?action=aPropos"> A propos</a>
            <a href="index.php?action=tarif"> Tarifs</a>
            <a href="index.php?action=panierView"> Panier</a>

            <!-- si on est pas connecter on affiche le lien de connexion  -->
            <?php if (!isAuthenticatedUser() && !isAuthenticatedAdmin()) : ?>
                <a href="index.php?action=user&action2=loginForm">Connexion</a>
            <?php endif; ?>

            <!-- si le user est connecter , il peut maintenant ce deconnecter si il veut -->
            <?php if (isAuthenticatedUser()) : ?>
                <!-- affiche user RDV -->
                <a href="index.php?action=user&action2=userRDV&user_i=<?= htmlspecialchars(htmlentities($_SESSION['user']['id'])) ?>" >Mes Reservations</a>

                <!-- deconnexion -->
                <a href="index.php?action=user&action2=logout" class="item">
                    <?= getFirstName() ?> Déconnexion
                </a>

                <!-- user supprime son compte -->
                <a href="index.php?action=user&action2=deleteUser&id=<?= htmlspecialchars(htmlentities($_SESSION['user']['id'])) ?>" onclick="return confirmeDelete('user')" > supprime mon compte</a>
            <?php endif; ?>


            <!-- si le admin est connecter , il peut maintenant ce deconnecter si il veut et il peut avoir des navigations supplémentaire-->
            <?php if (isAuthenticatedAdmin()) : ?>

                <!-- liste des utilisateurs, on peut ajouter, modifier , supprimer -->
                <a href="index.php?action=admin&action2=users&action3=get" class="item"> utilisateur</a>


                <!-- liste des voitures, on peut ajouter, modifier , supprimer  -->
                <a href="index.php?action=admin&action2=car&action3=get" class="item">voiture</a>

                <!-- liste des booking, on peut supprimer -->
                <a href="index.php?action=admin&action2=booking&action3=get" class="item"> reservation de client</a>

                <!-- deconnexion -->
                <a href="index.php?action=admin&action2=logout" class="item">
                
                    <?= getAdminName() ?> Déconnexion
                </a>

                <!-- admin supprime son compte -->
                <a href="index.php?action=admin&action2=deleteAdmin&id=<?= htmlspecialchars(htmlentities($_SESSION['admin']['id'])) ?>" onclick="return confirmeDelete('admin')" class="item"> supprime mon compte</a>

            <?php endif; ?>
        </nav>

        <p class='logoFooter'>
            <a href="index.php">
                <img src="www/imgBoerbullMotors/auto.png" height="80" width="70" alt="Boerbull Motors" class='logo'>
            </a>
        </p>

        <p>Copyrigth : 2019, image reserver à Boerbull Motors</p>

    </footer>
    <script type="text/javascript" src="www/js/controle.js" ></script>
</body>
</html>